/* Fonts */
@font-face {
  font-family: 'Handjet';
  src: url('../public/fonts/Handjet-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Blex';
  src: url('../public/fonts/IBMPlexMono-Light.ttf') format('truetype');
}

/* CSS Resets */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}
/* General Styling */
body {
  background-image: linear-gradient( 109.6deg,  hsla(0, 50%, 5%, .5) 10%, hsla(137, 10%, 5%, .2) 90% );
  font-family: 'Blex';
  font-size: 14px;
}
h1 {
  font-family: 'Handjet', monospace;
}